body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 218, 169);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.password {
    margin-top: 50%;
}

textarea {
    overflow: hidden;
    resize: none;
    width: 100%;
    padding: 0;
    line-height: 1.2;
    box-sizing: border-box;
    font-size: 20px;
    height: auto;
}

.list {
    margin-top: 5%;
}

.false {
    overflow: hidden;
    margin-top: 5%;
    border: solid rgb(158, 0, 0) 2px;
    border-radius: 35px;
    box-sizing: border-box;
    width: 314px;
    max-width: 314px;
}

.true {
    overflow: hidden;
    margin-top: 5%;
    border: solid rgb(38, 155, 38) 2px;
    border-radius: 35px;
    box-sizing: border-box;
    width: 314px;
    max-width: 314px;
}

.false>.ruleHeader {
    padding: 5%;
    background-color: rgb(255, 182, 182);
}

.true>.ruleHeader {
    padding: 5%;
    background-color: rgb(172, 255, 172);
}

.false>.ruleDescription {
    padding: 5%;
    background-color: red
}

.true>.ruleDescription {
    padding: 5%;
    background-color: limegreen
}

.overlay {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.modal {
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    justify-content: center;
    align-items: center;
    background: #000000;
    color: red;
    width: 100%;
    font-size: 250%;
    font-weight: bolder;
    position: fixed;
    z-index: 2;
}

.hidden {
    display: none;
}
